{% extends 'base.html' %}

{% block title %}Home - FlaskApp{% endblock %}

{% block content %}
    <div class="text-center">
        <h1 class="display-4 text-warning">🔥 Welcome to FlaskApp Deployed by CodeDeploy Thanks Manav </h1>
        <p class="lead text-light">An interactive Flask web app with a modern UI.</p>
        <h1 class="display-4 text-warning"> Thanks to Automation </h1>
        <div class="mt-4">
            <a href="/about" class="btn btn-success btn-lg">Learn More</a>
            <a href="/contact" class="btn btn-primary btn-lg">Get in Touch</a>
        </div>
        
        <div class="mt-5">
            <img src="https://source.unsplash.com/600x300/?technology,code" class="img-fluid rounded shadow-lg" alt="Tech Image">
        </div>
    </div>
{% endblock %}
